@use '../_utils/functions.scss' as fn;

:root {
  color-scheme: light dark;

  /**
   *  Backgrounds and foregrounds
   */
  --foreground-100: light-dark(#17242C, #FFF);
  --foreground-200: light-dark(#26333C, #F5F8FA);
  --foreground-300: light-dark(#2B3945, #E0E7EB);
  --foreground-400: light-dark(#7A95A2, #7A95A2);

  --background-100: light-dark(#FFF, #0c1317);
  --background-200: light-dark(#F5F8FA, #17242C);
  --background-300: light-dark(#E9EDF1, #26333C);
  --background-400: light-dark(#E0E7EB, #2B3945);

  /**
   *  Monochrome
   */
  --monochrome-100: #000000;
  --monochrome-200: #222222;
  --monochrome-300: #333333;
  --monochrome-400: #666666;
  --monochrome-500: #999999;
  --monochrome-600: #C0C0C0;
  --monochrome-700: #DCDCDC;
  --monochrome-800: #ECECEC;
  --monochrome-900: #FFFFFF;

  /**
   *  Primary/Orange
   */
  --primary-0: #1E0101; // Not used, just for TW config completeness
  --primary-50: #390202; // Not used, just for TW config completeness
  --primary-100: #4D0505;
  --primary-200: #700900;
  --primary-300: #B13807;
  --primary-400: #E8591E;
  --primary-500: #FC7239;
  --primary-600: #FFAC8A;
  --primary-700: #FFC8B1;
  --primary-800: #FFDDCF;
  --primary-900: #FFECE4;

  --primary-background-100: light-dark(#{fn.faded-token(18%)}, #{fn.faded-token(26%)});
  --primary-background-200: light-dark(#{fn.faded-token(36%)}, #{fn.faded-token(40%)});

  /**
   *  Secondary/Green
   *  @deprectated - avoid using this colour
   */
  --secondary--0: #030400; // Not used, just for TW config completeness
  --secondary--50: #2B330C; // Not used, just for TW config completeness
  --secondary--100: #3F4B12;
  --secondary--200: #536218;
  --secondary--300: #A4C031;
  --secondary--400: #CCEF3D;
  --secondary--500: #D6F264;
  --secondary--600: #E0F58B;
  --secondary--700: #F0FAC5;
  --secondary--800: #F5FCD8;
  --secondary--900: #FAFDEC;

  /**
   *  Blue
   */
  --blue-0: #080B0D; // Not used, just for TW config completeness
  --blue-50: #11191E; // Not used, just for TW config completeness
  --blue-100: #17242C;
  --blue-200: #26333C;
  --blue-300: #2B3945;
  --blue-400: #394956;
  --blue-500: #7A95A2;
  --blue-600: #C3D0D8;
  --blue-700: #E0E7EB;
  --blue-800: #E9EDF1;
  --blue-900: #F5F8FA;

  /**
   *  Tertiary/Blue
   *  @deprectated - avoid using this colour
   */
  --tertiary-0: #000910; // Not used, just for TW config completeness
  --tertiary-50: #000E18; // Not used, just for TW config completeness
  --tertiary-100: #001320;
  --tertiary-200: #011C31;
  --tertiary-300: #012641;
  --tertiary-400: #012F51;
  --tertiary-500: #1A4D73;
  --tertiary-600: #326C96;
  --tertiary-700: #8CC6F0;
  --tertiary-800: #CFEBFF;
  --tertiary-900: #E5F4FF;

  /**
   *  Error colours
   */
  --error-100: #500000;
  --error-200: #780000;
  --error-300: #A80000;
  --error-400: #D00000;
  --error-500: #F03131;
  --error-600: #F76565;
  --error-700: #FFAFAF;
  --error-800: #FFD8D8;
  --error-900: #FBE8E8;

  --error-background-100: light-dark(#{fn.faded-token(12%, error)}, #{fn.faded-token(18%, error)});
  --error-background-200: light-dark(#{fn.faded-token(24%, error)}, #{fn.faded-token(36%, error)});
  --error-foreground: light-dark(var(--error-400), var(--monochrome-900));
  --error: var(--error-500);

  /**
  *  Success colours
  */
  --success-100: #044C0B;
  --success-200: #0D7117;
  --success-300: #23922E;
  --success-400: #43AE4E;
  --success-500: #68C773;
  --success-600: #91D999;
  --success-700: #B7E4BC;
  --success-800: #D4F0D7;
  --success-900: #EAF4EB;

  --success-background: light-dark(var(--success-800), var(--success-300));
  --success-foreground: light-dark(var(--monochrome-100), var(--monochrome-900));
  --success-background-hover: light-dark(var(--success-500), var(--success-200));
  --success: var(--success-500);

  /**
  *  Warning colours
  */
  --warning-100: #C94000;
  --warning-200: #D36007;
  --warning-300: #EC8C17;
  --warning-400: #F5B639;
  --warning-500: #FED169;
  --warning-600: #FFE097;
  --warning-700: #FCEDCA;
  --warning-800: #FBF3DF;
  --warning-900: #FBF6E9;

  /**
  *  Notice colours
  */
  --notice-200: #c8d9f6;
  --notice-500: #065de9;
  --notice-800: #013ea0;

  /**
   *  Favourites/pink
   */
  --favourite-colour: #FF4A9E;

  /**
  * Box shadows
  */
  --elevate-200: 0 10px 30px -10px #{fn.faded-color(8%, black)};
  --elevate-300: 0 10px 20px -10px #{fn.faded-color(8%, black)},
  0 10px 40px -20px #{fn.faded-color(33%, black)};
}