@use '../_utils/functions' as fn;
@use '../_utils/media' as mq;

:root {
  /*
   *  Font sizes
   */
  --font-2xs: #{fn.toRem(12)};
  --font-xs: #{fn.toRem(14)};
  --font-sm: #{fn.toRem(16)};
  --font-md: #{fn.toRem(18)};
  --font-lg: #{fn.toRem(20)};
  --font-xl: #{fn.toRem(22)};
  --font-2xl: #{fn.toRem(24)};
  --font-3xl: #{fn.toRem(28)};
  --font-4xl: #{fn.toRem(32)};
  --font-5xl: #{fn.toRem(36)};
  --font-6xl: #{fn.toRem(40)};
  --font-7xl: #{fn.toRem(56)};
  --font-8xl: #{fn.toRem(72)};

  /*
   *  Line-height sizes
   */
  --lineheight-xs: 1.2em;
  --lineheight-sm: 1.4em;
  --lineheight-md: 1.7em;
  --lineheight-lg: 1.9em;

  /*
   *  Line-height sizes
   */
  --font-light: 300;
  --font-medium: 400;
  --font-semibold: 600;
  --font-bold: 700;

  /**
   *  Responsive sizes
   */
  @include mq.tablet {
    --font-2xs: #{fn.toRem(12)};
    --font-xs: #{fn.toRem(14)};
    --font-sm: #{fn.toRem(16)};
    --font-md: #{fn.toRem(18)};
    --font-lg: #{fn.toRem(20)};
    --font-xl: #{fn.toRem(24)};
    --font-2xl: #{fn.toRem(28)};
    --font-3xl: #{fn.toRem(34)};
    --font-4xl: #{fn.toRem(42)};
    --font-5xl: #{fn.toRem(48)};
  }
}