/**
 *  Interactive form elements
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  width: fit-content;
}

fieldset {
  display: block;
  margin: 0;
  padding: 0;
}