/**
 *  Base links
 */
a {
  color: currentColor;
  text-decoration: underline;
  transition: color 0.15s;
  text-decoration-thickness: var(--size-2);
  text-underline-offset: 0.2em;
  text-decoration-skip-ink: none;
  text-decoration-style: solid;
  text-decoration-color: var(--primary-400);

  &:hover {
    text-decoration-thickness: var(--size-4);
  }
}