/**
 *  Hide non-visual but a11y-relevant content
 */
.visually-hidden {
  position: fixed;
  top: -999px;
  opacity: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  pointer-events: none;
}

input.visually-hidden {
  appearance: none;
  position: absolute;
  top: unset;
}
