@use '../_utils/media' as mq;

/**
 *  Animations
 */
@include mq.motion {
  .animate-fade-down {
    transition-property: opacity, transform;
    transition-duration: var(--animation-slow);
    transition-timing-function: var(--ease-out), var(--bounce-out);
    transition-delay: var(--delay, 0ms);
  }

  @starting-style {
    .animate-fade-down {
      --animation-distance: -1rem;

      opacity: 0;
      height: 0;
      transform: translateY(var(--animation-distance));
    }
  }
}