/**
 *  Page widths
 */
.container {
  width: min(100% - var(--size-48), 72rem);
  margin-inline: auto;

  // @TODO remove once Tailwind is removed, this only exists to
  // prevent conflicts in the meantime
  max-width: none;
}

.container-sm {
  width: min(100% - var(--size-48), 48rem);
}

.container-xs {
  width: min(100% - var(--size-48), 36rem);
}

.container-2xs {
  width: min(100% - var(--size-48), 28rem);
}