@use '../_utils/media' as mq;
@use '../_utils/functions' as fn;

/**
 *  Page widths
 */
.container {
  --container-width: 82rem;
  --container-padding: var(--size-24);

  width: min(100% - var(--container-padding), var(--container-width));
  margin-inline: auto;

  // @TODO remove once Tailwind is removed, this only exists to
  // prevent conflicts in the meantime
  max-width: none;

  @include mq.tablet {
    --container-padding: var(--size-48);
  }
}

.container-sm {
  --container-width: 48rem;
}

.container-xs {
  --container-width: 36rem;
  --container-padding: var(--size-20);

  @include mq.tablet {
    --container-padding: var(--size-36);
  }
}

.container-2xs {
  --container-width: 24rem;
  --container-padding: var(--size-20);

  @include mq.tablet {
    --container-padding: var(--size-36);
  }
}

/**
 *  Dialog containers
 */
.dialog-container {
  --container-width: 42rem;

  width: var(--container-width);
  padding: var(--size-28);
  max-width: 100%;

  @include mq.tablet {
    padding: var(--size-32)
  }

  @include mq.notebook {
    padding: var(--size-36)
  }

  @include mq.desktop {
    padding: var(--size-40)
  }
}

.dialog-container-lg {
  --container-width: 54rem;
}

.dialog-container-sm {
  --container-width: 34rem;
}

.dialog-container-xs {
  --container-width: 26rem;
}

/**
 *  Elevations
 */
.elevate-200 {
  box-shadow: 0 10px 30px -10px fn.faded-color(8%, black);
}

.elevate-300 {
  box-shadow:
    0 10px 20px -10px fn.faded-color(8%, black), 0 10px 40px -20px fn.faded-color(33%, black);
}