@use '../_utils/functions' as fn;

/**
 *  Font weights
 */
.font-light {
  font-weight: var(--font-light);
}

.font-semibold {
  font-weight: var(--font-semibold);
}

.font-bold {
  font-weight: var(--font-bold);
}

/**
 *  Font styles
 */
.faded-text {
  color: #{fn.faded-color(60%)};
}

/**
 *  Text alignment
 */
.center-text {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

/**
 *  Body
 */
.body-xs {
  font-size: var(--font-xs);
  line-height: var(--lineheight-sm);
}

.body-sm {
  font-size: var(--font-sm);
  line-height: var(--lineheight-md);
}

.body-md {
  font-size: var(--font-md);
  line-height: var(--lineheight-md);
}

.body-lg {
  font-size: var(--font-lg);
  line-height: var(--lineheight-lg);
}

/**
 *  Headers
 */
.title-3xs {
  font-weight: var(--font-semibold);
  font-size: var(--font-sm);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-8);
}

.title-2xs {
  font-weight: var(--font-bold);
  font-size: var(--font-md);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-8);
}

.title-xs {
  font-weight: var(--font-bold);
  font-size: var(--font-lg);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-8);
}

.title-sm {
  font-weight: var(--font-bold);
  font-size: var(--font-xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-8);
}

.title-md {
  font-weight: var(--font-bold);
  font-size: var(--font-2xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);
}

.title-lg {
  font-weight: var(--font-bold);
  font-size: var(--font-3xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);
}

.title-xl {
  font-weight: var(--font-bold);
  font-size: var(--font-4xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);
}

.title-2xl {
  font-weight: var(--font-bold);
  font-size: var(--font-5xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-24);
}

/**
 *  Line-height overrides
 */
.lineheight-xs {
  line-height: var(--lineheight-xs);
}

.lineheight-sm {
  line-height: var(--lineheight-sm);
}

.lineheight-md {
  line-height: var(--lineheight-md);
}

.lineheight-lg {
  line-height: var(--lineheight-lg);
}

/**
 *  Styled text
 */
.gradient-text {
  position: relative;
  display: inline-block;
  color: var(--primary-600);

  @supports (-webkit-text-fill-color: transparent) {
    background: linear-gradient(135deg, var(--primary-600), var(--secondary-500));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-ai::after {
    content: '';
    display: block;
    position: absolute;
    top: -0.15em;
    right: -0.5em;
    width: 0.6em;
    height: 0.6em;
    background: linear-gradient(135deg, var(--primary-600), var(--secondary-500));
    mask-image: url('/img/ai-star.svg');
    mask-size: contain;
  }
}