@use '../_utils/functions' as fn;

/**
 *  Font weights
 */
.font-light {
  font-weight: var(--font-light);
}

.font-medium {
  font-weight: var(--font-medium);
}

.font-semibold {
  font-weight: var(--font-semibold);
}

.font-bold {
  font-weight: var(--font-bold);
}

/**
 *  Font styles
 */
.faded-text {
  color: #{fn.faded-color(50%)};
}


/**
 *  Text styling
 */
.line-through {
  text-decoration: line-through;
}

/**
 *  Text alignment
 */
.center-text {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

/**
 *  Body
 */
.body-2xs {
  font-size: var(--font-2xs);
  line-height: var(--lineheight-sm);
}

.body-xs {
  font-size: var(--font-xs);
  line-height: var(--lineheight-sm);
}

.body-sm {
  font-size: var(--font-sm);
  line-height: var(--lineheight-md);
}

.body-md {
  font-size: var(--font-md);
  line-height: var(--lineheight-md);
}

.body-lg {
  font-size: var(--font-lg);
  line-height: var(--lineheight-lg);
}

/**
 *  Headers
 */
.title-3xs {
  font-weight: var(--font-semibold);
  font-size: var(--font-sm);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-8);
}

.title-2xs {
  font-weight: var(--font-bold);
  font-size: var(--font-md);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-8);
}

.title-xs {
  font-weight: var(--font-bold);
  font-size: var(--font-lg);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-8);
}

.title-sm {
  font-weight: var(--font-bold);
  font-size: var(--font-xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-8);
}

.title-md {
  font-weight: var(--font-bold);
  font-size: var(--font-2xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);
}

.title-lg {
  font-weight: var(--font-bold);
  font-size: var(--font-3xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);
}

.title-xl {
  font-weight: var(--font-bold);
  font-size: var(--font-4xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);
}

.title-2xl {
  font-weight: var(--font-bold);
  font-size: var(--font-5xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-24);
}

@media (max-width: 600px) {

  // create the size DOWN for titles on mobile
  .title-3xs {
    font-size: var(--font-xs);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-8);
  }

  .title-2xs {
    font-size: var(--font-sm);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-8);
  }

  .title-xs {
    font-size: var(--font-md);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-8);
  }

  .title-sm {
    font-size: var(--font-lg);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-8);
  }

  .title-md {
    font-size: var(--font-xl);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-16);
  }

  .title-lg {
    font-size: var(--font-2xl);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-16);
  }

  .title-xl {
    font-size: var(--font-3xl);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-16);
  }

  .title-2xl {
    font-size: var(--font-4xl);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-24);
  }
}

/**
 *  Line-height overrides
 */
.lineheight-xs {
  line-height: var(--lineheight-xs);
}

.lineheight-sm {
  line-height: var(--lineheight-sm);
}

.lineheight-md {
  line-height: var(--lineheight-md);
}

.lineheight-lg {
  line-height: var(--lineheight-lg);
}

/**
 *  Styled text
 */
.gradient-text {
  position: relative;
  display: inline-block;
  color: var(--primary-600);

  @supports (-webkit-text-fill-color: transparent) {
    background: linear-gradient(135deg, var(--primary-600), var(--secondary-500));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-ai {
    margin-right: 0.2ch;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -0.15em;
      right: -0.5em;
      width: 0.6em;
      height: 0.6em;
      background: linear-gradient(135deg, var(--primary-600), var(--secondary-500));
      mask-image: url('/img/ai-star.svg');
      mask-size: contain;
    }
  }
}

/**
 *  Responsive text classes - automatically shrink on mobile
 */

/* Flexible Responsive Body Classes - specify target mobile size */
.r-body-sm-xs {
  font-size: var(--font-sm);
  line-height: var(--lineheight-md);

  @media (max-width: 600px) {
    font-size: var(--font-xs);
    line-height: var(--lineheight-xs);
  }
}

.r-body-md-xs {
  font-size: var(--font-md);
  line-height: var(--lineheight-md);

  @media (max-width: 600px) {
    font-size: var(--font-xs);
    line-height: var(--lineheight-xs);
  }
}

.r-body-md-sm {
  font-size: var(--font-md);
  line-height: var(--lineheight-md);

  @media (max-width: 600px) {
    font-size: var(--font-sm);
    line-height: var(--lineheight-sm);
  }
}

.r-body-lg-xs {
  font-size: var(--font-lg);
  line-height: var(--lineheight-lg);

  @media (max-width: 600px) {
    font-size: var(--font-xs);
    line-height: var(--lineheight-xs);
  }
}

.r-body-lg-sm {
  font-size: var(--font-lg);
  line-height: var(--lineheight-lg);

  @media (max-width: 600px) {
    font-size: var(--font-sm);
    line-height: var(--lineheight-sm);
  }
}

.r-body-lg-md {
  font-size: var(--font-lg);
  line-height: var(--lineheight-lg);

  @media (max-width: 600px) {
    font-size: var(--font-md);
    line-height: var(--lineheight-md);
  }
}

/* Flexible Responsive Title Classes - specify target mobile size */
.r-title-sm-3xs {
  font-weight: var(--font-bold);
  font-size: var(--font-xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-8);

  @media (max-width: 600px) {
    font-size: var(--font-sm);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-8);
  }
}

.r-title-sm-2xs {
  font-weight: var(--font-bold);
  font-size: var(--font-xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-8);

  @media (max-width: 600px) {
    font-size: var(--font-md);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-8);
  }
}

.r-title-sm-xs {
  font-weight: var(--font-bold);
  font-size: var(--font-xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-8);

  @media (max-width: 600px) {
    font-size: var(--font-lg);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-8);
  }
}

.r-title-md-3xs {
  font-weight: var(--font-bold);
  font-size: var(--font-2xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);

  @media (max-width: 600px) {
    font-size: var(--font-sm);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-8);
  }
}

.r-title-md-2xs {
  font-weight: var(--font-bold);
  font-size: var(--font-2xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);

  @media (max-width: 600px) {
    font-size: var(--font-md);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-8);
  }
}

.r-title-md-xs {
  font-weight: var(--font-bold);
  font-size: var(--font-2xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);

  @media (max-width: 600px) {
    font-size: var(--font-lg);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-8);
  }
}

.r-title-md-sm {
  font-weight: var(--font-bold);
  font-size: var(--font-2xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);

  @media (max-width: 600px) {
    font-size: var(--font-xl);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-8);
  }
}

.r-title-lg-3xs {
  font-weight: var(--font-bold);
  font-size: var(--font-3xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);

  @media (max-width: 600px) {
    font-size: var(--font-sm);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-8);
  }
}

.r-title-lg-2xs {
  font-weight: var(--font-bold);
  font-size: var(--font-3xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);

  @media (max-width: 600px) {
    font-size: var(--font-md);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-8);
  }
}

.r-title-lg-xs {
  font-weight: var(--font-bold);
  font-size: var(--font-3xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);

  @media (max-width: 600px) {
    font-size: var(--font-lg);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-8);
  }
}

.r-title-lg-sm {
  font-weight: var(--font-bold);
  font-size: var(--font-3xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);

  @media (max-width: 600px) {
    font-size: var(--font-xl);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-8);
  }
}

.r-title-lg-md {
  font-weight: var(--font-bold);
  font-size: var(--font-3xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);

  @media (max-width: 600px) {
    font-size: var(--font-2xl);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-16);
  }
}

.r-title-xl-sm {
  font-weight: var(--font-bold);
  font-size: var(--font-4xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);

  @media (max-width: 600px) {
    font-size: var(--font-xl);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-8);
  }
}

.r-title-xl-md {
  font-weight: var(--font-bold);
  font-size: var(--font-4xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);

  @media (max-width: 600px) {
    font-size: var(--font-2xl);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-16);
  }
}

.r-title-xl-lg {
  font-weight: var(--font-bold);
  font-size: var(--font-4xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);

  @media (max-width: 600px) {
    font-size: var(--font-3xl);
    line-height: var(--lineheight-xs);
    margin-bottom: var(--size-16);
  }
}

/* Responsive Body Classes */
.r-body-sm {
  font-size: var(--font-sm);
  line-height: var(--lineheight-md);

  @media (max-width: 600px) {
    font-size: var(--font-xs);
    line-height: var(--lineheight-xs);
  }
}

.r-body-md {
  font-size: var(--font-md);
  line-height: var(--lineheight-md);

  @media (max-width: 600px) {
    font-size: var(--font-sm);
    line-height: var(--lineheight-sm);
  }
}

.r-body-lg {
  font-size: var(--font-lg);
  line-height: var(--lineheight-lg);

  @media (max-width: 600px) {
    font-size: var(--font-md);
    line-height: var(--lineheight-md);
  }
}

/* Responsive Title Classes */
.r-title-3xs {
  font-weight: var(--font-semibold);
  font-size: var(--font-sm);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-8);

  @media (max-width: 600px) {
    font-size: var(--font-xs);
    line-height: var(--lineheight-xs);
  }
}

.r-title-2xs {
  font-weight: var(--font-bold);
  font-size: var(--font-md);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-8);

  @media (max-width: 600px) {
    font-size: var(--font-sm);
    line-height: var(--lineheight-xs);
  }
}

.r-title-xs {
  font-weight: var(--font-bold);
  font-size: var(--font-lg);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-8);

  @media (max-width: 600px) {
    font-size: var(--font-md);
    line-height: var(--lineheight-xs);
  }
}

.r-title-sm {
  font-weight: var(--font-bold);
  font-size: var(--font-xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-8);

  @media (max-width: 600px) {
    font-size: var(--font-lg);
    line-height: var(--lineheight-xs);
  }
}

.r-title-md {
  font-weight: var(--font-bold);
  font-size: var(--font-2xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);

  @media (max-width: 600px) {
    font-size: var(--font-xl);
    line-height: var(--lineheight-xs);
  }
}

.r-title-lg {
  font-weight: var(--font-bold);
  font-size: var(--font-3xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);

  @media (max-width: 600px) {
    font-size: var(--font-2xl);
    line-height: var(--lineheight-xs);
  }
}

.r-title-xl {
  font-weight: var(--font-bold);
  font-size: var(--font-4xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);

  @media (max-width: 600px) {
    font-size: var(--font-3xl);
    line-height: var(--lineheight-xs);
  }
}

.r-title-2xl {
  font-weight: var(--font-bold);
  font-size: var(--font-5xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-24);

  @media (max-width: 600px) {
    font-size: var(--font-4xl);
    line-height: var(--lineheight-xs);
  }
}