/**
 *  Button base
 */
.box {
  color: var(--foreground-100);
  padding: var(--size-12) var(--size-16);
  border-radius: var(--border-radius-lg);
  background-color: var(--background-200);
  border: 1px solid var(--background-300);
}

.box-lg {
  padding: var(--size-20) var(--size-24);
}