@use '../_utils/functions' as fn;

/**
 *  Button base
 */
.box {
  color: var(--foreground-100);
  padding: var(--size-12) var(--size-16);
  border-radius: var(--border-radius-lg);
  background-color: var(--background-200);
  border: 1px solid var(--background-300);
}

.box-lg {
  padding: var(--size-20) var(--size-24);
}

/**
 *  Gradient boxes
 */
.gradient-box {
  // Colours
  --gradient-box-start: light-dark(#{fn.faded-color(8%)}, #{fn.faded-color(17%)});
  --gradient-box-middle: light-dark(#{fn.faded-color(5%)}, #{fn.faded-color(15%)});
  --gradient-box-end: light-dark(#{fn.faded-color(10%)}, #{fn.faded-color(20%)});
  --gradident-box-bg-direction: to bottom;

  // Shapes, sizes
  --gradient-box-radius: var(--border-radius-2xl);
  --gradient-box-thickness: 1.5px;

  // Shadow
  --gradient-box-shadow: 0 10px 25px -15px rgba(0, 0, 0, 0.18);

  // Gradient
  --gradient-box-gradient: linear-gradient(var(--gradident-box-bg-direction), var(--gradient-box-start), var(--gradient-box-middle), var(--gradient-box-end));

  // Used to set image to clip against
  --clip: linear-gradient(var(--background-200), var(--background-200));

  position: relative;
  box-shadow: var(--gradient-box-shadow);
  border-radius: var(--gradient-box-radius);

  @supports (mask: content-box) {
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      pointer-events: none;
      box-sizing: border-box;
      background: var(--gradient-box-gradient);
      padding: var(--gradient-box-thickness);
      border-radius: var(--gradient-box-radius);
      mask: var(--clip) content-box exclude, var(--clip);
    }
  }
}