@use '../_utils/media' as mq;

html {
  /* Force iPhone Chrome to enable dynamic viewport */
  height: 100dvh;
}

body {
  background: var(--blue-400);
  color: var(--foreground-100);
  font-size: 1.075em;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: var(--font-light);
  line-height: var(--lineheight-md);
  min-height: 100dvh;

  @include mq.motion {
    scroll-behavior: smooth;
  }

  @include mq.superultrawide {
    font-size: 1.125em;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html.light {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}