@use '../_utils/media' as mq;
@use '../_utils/functions' as fn;

/**
 *  Animations
 */
@include mq.motion {
  .animate-fade-down {
    transition-property: opacity, transform;
    transition-duration: var(--animation-slow);
    transition-timing-function: var(--ease-out), var(--bounce-out);
    transition-delay: var(--delay, 0ms);
  }

  @starting-style {
    .animate-fade-down {
      --animation-distance: -1rem;

      opacity: 0;
      height: 0;
      transform: translateY(var(--animation-distance));
    }
  }
}

.pulse {
  --pulse-colour: var(--foreground-200);
  --pulse-size: 30px;

  animation: pulseBackground 3s var(--ease-out) infinite;
}

@keyframes pulseBackground {
  20% {
    box-shadow: 0 0 0 0 fn.faded-color(60%, var(--pulse-colour))
  }

  100% {
    box-shadow: 0 0 0 var(--pulse-size) fn.faded-color(00%, var(--pulse-colour))
  }
}

@keyframes scaleFadeIn {
  from {
    opacity: 0;
    scale: 0;
  }
}