/**
 *  Content stacking
 */
.stacked {
  display: flex;
  flex-direction: column;
  gap: var(--size-16);
}

/**
 *  Content dividers
 */
.divider {
  margin: var(--size-24) 0;
  border: 0;
  border-top: var(--divider-100);
}

/**
 *  Content flow
 */
.flow {
  --flow-gap: var(--size-16);
}

.flow-3xs>* {
  --flow-gap: var(--size-4);
}

.flow-2xs>* {
  --flow-gap: var(--size-6);
}

.flow-xs>* {
  --flow-gap: var(--size-8);
}

.flow-sm>* {
  --flow-gap: var(--size-12);
}

.flow-md>* {
  --flow-gap: var(--size-16);
}

.flow-lg>* {
  --flow-gap: var(--size-20);
}

.flow-xl>* {
  --flow-gap: var(--size-24);
}

.flow-2xl>* {
  --flow-gap: var(--size-28);
}

.flow-3xl>* {
  --flow-gap: var(--size-32);
}

.flow-4xl>* {
  --flow-gap: var(--size-40);
}

:where(.flow>*:not(:first-child)) {
  margin-top: var(--flow-gap);
}