@use '../_utils/functions' as fn;

/**
 *  Focus states
 */
:where(:focus),
:where(.no-visible-focus:focus),
:where(.no-visible-focus:focus-visible),
:where(.no-visible-focus :focus-visible) {
  outline: none;
}

:where(:focus-visible) {
  outline: var(--focus-outline);
}

:where(.focus-visible) {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: var(--focus-outline);
  }
}

/**
 *  Allow focus overflows
 */
.focus-overflow {
  padding: var(--outline-size);
}