/**
 *  Focus states
 */

.skeleton {
  --gradient-start: var(--background-100);
  --gradient-end: var(--background-300);

  background: linear-gradient(to left,
      var(--gradient-start),
      var(--gradient-end),
      var(--gradient-start),
      var(--gradient-end),
      var(--gradient-start)) repeat;
  background-size: 200%;
  animation: skeleton-load 1s infinite linear;
}

:where(.skeleton) {
  display: block;
  height: var(--lineheight-md);
  width: var(--lineheight-md);
  border-radius: var(--border-radius-ui);
}

@keyframes skeleton-load {
  from {
    background-position: -100% 0;
  }
}