@use '../_utils/functions' as fn;

/**
 *  Button base
 */
.button {
  display: inline-flex;
  border: 0;
  gap: var(--size-8);
  font-size: var(--font-md);
  font-weight: var(--font-semibold);
  line-height: var(--lineheight-md);
  align-items: center;
  background-color: var(--primary-300);
  color: var(--monochrome-100);
  padding: var(--size-10) var(--size-18);
  border-radius: var(--size-32);
  transition: background-color 0.15s, color 0.15s;
  box-sizing: border-box;

  &:hover {
    background-color: var(--primary-400);
    color: var(--monochrome-100);
    text-decoration: none;
  }
}


/**
 *  Button styles
 */
.button {
  &-secondary {
    background: var(--secondary-400);
    color: var(--monochrome-100);

    &:hover {
      background: var(--secondary-300);
      color: var(--monochrome-100);
    }
  }

  &-monochrome {
    background: var(--monochrome-100);
    color: var(--monochrome-900);

    &:hover {
      background: var(--blue-400);
      color: var(--monochrome-900);
    }
  }

  &-ghost {
    background: fn.faded-color(15%, var(--blue-500));
    color: light-dark(var(--monochrome-100), var(--monochrome-900));

    &:hover {
      background: var(--blue-500);
      color: var(--monochrome-900);
    }
  }

  &-quiet {
    background: transparent;
    color: light-dark(var(--monochrome-100), var(--monochrome-900));

    &:hover {
      background: var(--blue-500);
      color: var(--monochrome-900);
    }
  }

  &-overlay {
    background: fn.faded-color(12%);
    color: currentColor;

    &:hover {
      background: fn.faded-color(20%);
      color: currentColor;
    }
  }

  &-bordered {
    border: var(--size-2) solid fn.faded-color(30%);
    background: transparent;
    color: currentColor;
    transition: background-color 0.15s, border-color 0.15s;

    &:hover {
      background: fn.faded-color(8%);
      border-color: fn.faded-color(40%);
      color: currentColor;
    }
  }
}

/**
 *  Button sizes
 */
.button {
  &-xs {
    font-size: var(--font-xs);
    padding: var(--size-4) var(--size-10);
  }

  &-sm {
    font-size: var(--font-sm);
    padding: var(--size-8) var(--size-16);
  }

  &-lg {
    font-size: var(--font-lg);
    padding: var(--size-16) var(--size-28);
  }
}

/**
 *  Disabled state
 */
.button[disabled] {
  cursor: default;
  color: light-dark(var(--monochrome-400), var(--monochrome-700));
  background-color: light-dark(var(--monochrome-700), var(--monochrome-400));

  &:hover {
    color: light-dark(var(--monochrome-400), var(--monochrome-700));
    background-color: light-dark(var(--monochrome-700), var(--monochrome-400));
  }
}

/**
 *  Button icons
 */
.button svg {
  width: var(--lineheight-sm);
  height: var(--lineheight-sm);
}