/**
 *  Generic inputs
 */
.text-input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0 var(--size-16);
  background: var(--input-text-background);
  color: var(--input-text-color);
  border: 1px solid var(--input-text-border);
  height: var(--input-text-height);
  border-radius: var(--border-radius-ui);
}

.text-input:user-invalid {
  color: var(--text-input-error-color);
  border-color: var(--text-input-error-border);
  background-color: var(--text-input-error-background);
}