/**
 *  Body
 */
.body-xs {
  font-size: var(--font-xs);
  line-height: var(--lineheight-sm);
}

.body-sm {
  font-size: var(--font-sm);
  line-height: var(--lineheight-md);
}

.body-md {
  font-size: var(--font-md);
  line-height: var(--lineheight-md);
}

.body-lg {
  font-size: var(--font-lg);
  line-height: var(--lineheight-lg);
}

/**
 *  Headers
 */
.title-2xs {
  font-weight: var(--font-bold);
  font-size: var(--font-md);
  line-height: var(--lineheight-md);
  margin-bottom: var(--size-8);
}

.title-xs {
  font-weight: var(--font-bold);
  font-size: var(--font-lg);
  line-height: var(--lineheight-md);
  margin-bottom: var(--size-8);
}

.title-sm {
  font-weight: var(--font-bold);
  font-size: var(--font-xl);
  line-height: var(--lineheight-md);
  margin-bottom: var(--size-8);
}

.title-md {
  font-weight: var(--font-bold);
  font-size: var(--font-2xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);
}

.title-lg {
  font-weight: var(--font-bold);
  font-size: var(--font-3xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);
}

.title-xl {
  font-weight: var(--font-bold);
  font-size: var(--font-4xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-16);
}

.title-2xl {
  font-weight: var(--font-bold);
  font-size: var(--font-5xl);
  line-height: var(--lineheight-sm);
  margin-bottom: var(--size-24);
}