// Menu breakpoints
$menu: 1024px;

// Device breakpoints
$mobile: 325px;
$small-tablet: 560px;
$tablet: 768px;
$notebook: 1024px;
$desktop: 1280px;
$ultrawide: 1440px;
$superultrawide: 1600px;

// Exports
:export {
    mobile: $mobile;
    smallTablet: $small-tablet;
    tablet: $tablet;
    notebook: $notebook;
    desktop: $desktop;
    ultrawide: $ultrawide;
    superultrawide: $superultrawide;
    menuBreakpoint: $menu;
    desktopBreakpoint: $desktop;
}