@use 'sass:meta';
@use 'sass:math';

/**
 *  Faded colours
 */
@function faded-color($opacity: 10%, $colour: currentColor) {
    @return color-mix(in srgb, #{$colour} #{$opacity}, transparent);
}

/**
 *  Convert number to float
 */
@function to-float($number, $digits: 0, $mode: round) {
    $n: 1;

    // $number must be a number
    @if meta.type-of($number) !=number {
        @warn '#{ $number } is not a number';
        @return $number;
    }

    // $digits must be a unitless number
    @if meta.type-of($digits) !=number {
        @warn '#{ $digits } is not a number';
        @return $number;
    }

    @else if not math.is-unitless($digits) {
        @warn '#{ $digits } has a unit';
        @return $number;
    }

    // Increment to a power of 10 for each digit
    @if $digits >0 {
        @for $i from 1 through $digits {
            $n: $n * 10;
        }
    }

    // Allow different modes (to force rounding up/down, if required)
    @if $mode ==ceil {
        @return math.div(math.ceil($number * $n), $n);
    }

    @else if $mode ==floor {
        @return math.div(math.floor($number * $n), $n);
    }

    @else {
        @return math.div(math.round($number * $n), $n);
    }
}

/**
 *  Convert px widths to em/rem
 */
@function toRem($value) {
    $valueAsRem: to-float(math.div($value, 18), 2);

    @return #{$valueAsRem}rem;
}