@use '../_utils/functions' as fn;

:root {
  --input-text-background: var(--background-200);
  --input-text-border: var(--background-300);
  --input-text-color: var(--foreground-100);
  --input-text-height: #{fn.toRem(52)};

  // Error colours
  --text-input-error-color: var(--error-foreground);
  --text-input-error-border: var(--error-foreground);

  // Toggle inputs, etc.
  --input-toggle-background: light-dark(var(--blue-800), var(--blue-400));
  --input-toggle-border: light-dark(var(--blue-700), var(--blue-300));

  // General accent colours
  --input-accent-colour: var(--secondary-400);
  --input-accent-inactive: var(--monochrome-500);
  --input-accent-colour-hover: var(--secondary-400);
  --input-accent-inactive-hover: var(--monochrome-400);
}