/**
 *  Offsets for headers
 */
:root {
  --header-height: 4rem;
  --header-offset: calc(var(--header-expanded-height) - var(--header-height));
  --header-expanded-height: 8rem;
  --mobile-nav-height: 60px;
  --mobile-nav-header-height: 70px;
  --mobile-chat-header-height: calc(var(--size-20) + var(--size-16) + 1.25rem);

}