@use '../_utils/functions' as fn;

:root {
  /*
   *  Generic sizes
   */
  --size-1: 1px;
  --size-2: #{fn.toRem(2)};
  --size-4: #{fn.toRem(4)};
  --size-6: #{fn.toRem(6)};
  --size-8: #{fn.toRem(8)};
  --size-10: #{fn.toRem(10)};
  --size-12: #{fn.toRem(12)};
  --size-14: #{fn.toRem(14)};
  --size-16: #{fn.toRem(16)};
  --size-18: #{fn.toRem(18)};
  --size-20: #{fn.toRem(20)};
  --size-24: #{fn.toRem(24)};
  --size-28: #{fn.toRem(28)};
  --size-32: #{fn.toRem(32)};
  --size-36: #{fn.toRem(36)};
  --size-40: #{fn.toRem(40)};
  --size-48: #{fn.toRem(48)};
  --size-56: #{fn.toRem(56)};
  --size-64: #{fn.toRem(64)};
  --size-72: #{fn.toRem(72)};
  --size-120: #{fn.toRem(120)};

  /**
   *  Border radius sizes
   */
  --border-radius-sm: var(--size-6);
  --border-radius-md: var(--size-8);
  --border-radius-lg: var(--size-12);
  --border-radius-xl: var(--size-16);
  --border-radius-2xl: var(--size-24);
  --border-radius-3xl: var(--size-32);

  // For UI elements (e.g. buttons)
  --border-radius-ui: var(--size-12);
  --border-radius-pill: var(--size-72);
}