@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
  --color-brand-purple: oklch(59.154% 0.226 278.07);
  --color-brand-purple-50: oklch(100% 0 none);
  --color-brand-purple-100: oklch(100% 0 none);
  --color-brand-purple-200: oklch(90.62% 0.04761 286.72);
  --color-brand-purple-300: oklch(79.907% 0.10551 284.97);
  --color-brand-purple-400: oklch(69.161% 0.16688 282.28);
  --color-brand-purple-500: oklch(59.154% 0.226 278.07);
  --color-brand-purple-600: oklch(48.666% 0.2899 269.35);
  --color-brand-purple-700: oklch(43.4% 0.2994 264.5);
  --color-brand-purple-800: oklch(35.629% 0.24524 264.73);
  --color-brand-purple-900: oklch(27.381% 0.18807 264.95);
  --color-brand-purple-950: oklch(23.066% 0.15751 265.55);
  --color-brand-green: oklch(83.471% 0.18272 149.9);
  --color-brand-green-50: oklch(100% 0 none);
  --color-brand-green-100: oklch(98.021% 0.02051 156.83);
  --color-brand-green-200: oklch(93.877% 0.06408 153.25);
  --color-brand-green-300: oklch(90.009% 0.10659 152.52);
  --color-brand-green-400: oklch(86.522% 0.14673 151.36);
  --color-brand-green-500: oklch(83.471% 0.18272 149.9);
  --color-brand-green-600: oklch(80.036% 0.2214 147.49);
  --color-brand-green-700: oklch(70.035% 0.20302 146.72);
  --color-brand-green-800: oklch(56.002% 0.15912 147.17);
  --color-brand-green-900: oklch(41.335% 0.11368 147.56);
  --color-brand-green-950: oklch(33.332% 0.08908 147.92);
  --color-brand-bg: oklch(25.591% 0.01683 285.15);
  --color-brand-bg-50: oklch(56.96% 0.04443 284.9);
  --color-brand-bg-100: oklch(53.479% 0.04359 284.83);
  --color-brand-bg-200: oklch(46.926% 0.03699 284.89);
  --color-brand-bg-300: oklch(40.179% 0.03177 284.88);
  --color-brand-bg-400: oklch(33.088% 0.02456 284.98);
  --color-brand-bg-500: oklch(25.591% 0.01683 285.15);
  --color-brand-bg-600: oklch(14.128% 0.00656 285.53);
  --color-brand-bg-700: oklch(0% 0 none);
  --color-brand-bg-800: oklch(0% 0 none);
  --color-brand-bg-900: oklch(0% 0 none);
  --color-brand-bg-950: oklch(0% 0 none);
  --color-brand-accent: oklch(75.57% 0.13193 288.75);
  --color-brand-accent-50: oklch(100% 0 none);
  --color-brand-accent-100: oklch(100% 0 none);
  --color-brand-accent-200: oklch(100% 0 none);
  --color-brand-accent-300: oklch(96.568% 0.01732 289.61);
  --color-brand-accent-400: oklch(85.911% 0.0733 290.82);
  --color-brand-accent-500: oklch(75.57% 0.13193 288.75);
  --color-brand-accent-600: oklch(61.835% 0.21143 284.52);
  --color-brand-accent-700: oklch(50.788% 0.27548 275.99);
  --color-brand-accent-800: oklch(44.577% 0.29685 267.73);
  --color-brand-accent-900: oklch(36.903% 0.24439 268.24);
  --color-brand-accent-950: oklch(32.876% 0.21638 268.66);
}
