@use '../_utils/media' as mq;

html,
body {
  color: var(--foreground-100);
  font-size: 1.075em;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: var(--font-light);
  line-height: var(--lineheight-md);

  @include mq.motion {
    scroll-behavior: smooth;
  }

  @include mq.superultrawide {
    font-size: 1.125em;
  }

  &:has(.search-modal:popover-open, .o-dialog[open]) {
    overflow: hidden;

    /**
     *  @TODO - maybe want to set an explicit root ID to make sure this
     *          is a bit more stable - can be done by adding:
     *
     *             rootAttrs: { id: 'my-id' }
     *
     *          in the Nuxt config at /nuxt.config.ts
     */
    #__nuxt {
      scrollbar-gutter: stable;
      overflow: hidden;
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html.light {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}